<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="*ie=edge">
    <title>Event_Page</title>
</head>
<body>
<form action="/vacancy/vacancy_id/events/" method="POST">
    <input type="text" name="position_name" content="position_name">
    <input type="text" name="company" content="company">
    <input type="text" name="description" content="description">
    <input type="text" name="contacts_id" content="contacts_id">
    <input type="text" name="comment" content="position_name">
    <input type="submit" value="Add vacancy">
</form>
<div>
{{all_vacancies}}
</div>
</body>
</html>